.error-class {
  background-color: red;
}

.info-class {
  background-color: orange;
}

.validate-class {
  background-color: green;
}

.alert-danger {
  background-color: #df9097;
  color: #4b4242;
}
