
/* Navbar */
$COLOR_CONTAINER_NAVBAR: rgba(0, 0, 0, 0.651);
$COLOR_PANEL_TOOLS: #343972;

/*General*/
$COLOR_BCK_ARENA: #0f0f0f;
$COLOR_TEXT_MENU: #4259cf;
$COLOR_HOVER_TEXT_WHITE: #00d4ff;
$COLOR_BORDER_CONTAINER: #818181;
$COLOR_CONTAINER: #3b3d41;

$COLOR_CHOICE_CONTAINER: rgba(255, 255, 255, 0.678);

/* connexion */
$COLOR_BCK_CONNEXION: #262944;

// $RED_BORDER: #ab2f2f;
