h1,
label {
  color: white;
  user-select: none;
}


h1 {
  font-size: 4rem;
  padding-bottom: 3rem;
}

form {

  .input-container {
    position: relative;
    margin-bottom: 1rem;

    .error-message {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      font-size: 0.8rem;
    }
  }

  label {
    font-size: 1.2rem;
  }

  button {
    margin-top: 6rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 700;
  }


  app-statut-message {
    padding-top: 0.3rem;
    ;
  }

}
