
<div class="w-100 h-100 mes-projets-container flex-column">
  <app-navbar class="h-0 w-100"></app-navbar>

  <div class="h-100 w-100 flex-center-center">
    <!--tools panel-->
    <div class="flex-center-center pad-3-top"></div>

    <div class="w-100 h-100 flex-center-center choice-project-container">
      <div class="h-90 w-100 flex-center-center choice-project-container-middle">
        <div id="1" class="h-20 w-20 flex-center-center choice-project-container-middle-direction-l" (click)="toto()">lala</div>
        <div id="2" class="h-40 w-10 flex-center-center choice-project-container-middle-list">2</div>
        <div id="3" class="h-60 w-15 flex-center-center choice-project-container-middle-list">3</div>
        <div id="4" class="h-80 w-20 flex-center-center choice-project-container-middle-list-main">4</div>
        <div id="5" class="h-60 w-15 flex-center-center choice-project-container-middle-list">5</div>
        <div id="6" class="h-40 w-10 flex-center-center choice-project-container-middle-list">6</div>
        <div id="7" class="h-20 w-20 flex-center-center choice-project-container-middle-direction-r"></div>
      </div>
    </div>
  </div>

  <app-footer class="w-100 h-6"></app-footer>

</div>

