
<div class="w-100 h-100 mes-projets-container flex-column">
  <app-navbar class="h-0 w-100"></app-navbar>

  <div class="h-100 w-100 flex-center-center">
    <!--tools panel-->
    <div class="flex-center-center pad-3-top"></div>

    <div class="w-100 h-100 flex-center-center choice-project-container">
      <div class="h-90 w-100 flex-center-center choice-project-container-middle">

          <div class="h-20 w-20 flex-center-center choice-project-container-middle-direction-l" (click)="toto()"></div>
          <div class="h-20 w-20 flex-center-center choice-project-container-middle-list-main"
               *ngFor="let project of listProject; let i = index"
              
                [ngClass]="{'h-40 w-10': i === 0 || i === 4, 'h-60 w-15' : i === 1 || i === 3, 'h-80 w-20': i === 2, 'd-none': i > 4 }"
                (click)="toto()">{{project?.project_name}}</div>
          <div class="h-20 w-20 flex-center-center choice-project-container-middle-direction-r" (click)="toto()"></div>
      </div>
    </div>
  </div>

  <app-footer class="w-100 h-6"></app-footer>

</div>


