.mes-projets-container{
  .choice-project-container {
    background-color: #fcfcfc21;
    border-top: 0.8rem solid rgba(255, 255, 255, 0.678);
    border-bottom: 0.3rem solid  rgba(255, 255, 255, 0.678);
  }
  .choice-project-container-middle {
    background-color: #00000070;
    border-top: 0.1rem solid #f1eeeed0;
    border-bottom: 0.1rem solid #f1eeeed0;
    box-shadow: 0px 4px 12px rgba(247, 246, 246, 0.966),0px -4px 12px rgba(247, 246, 246, 0.966);
  }

  .choice-project-container-middle-list {
    background-color: #f3f3f3d8;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 14px;
    border-top: 0.3rem solid rgba(36, 138, 255, 0.808);
    border-bottom: 0.3rem solid rgba(10, 111, 228, 0.925);
   
  }
  .choice-project-container-middle-list-main {
    background-color: #fffefeda;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    border-top: 0.5rem solid rgba(36, 138, 255, 0.808);
    border-bottom: 0.5rem solid rgba(10, 111, 228, 0.925);
   
  }
  .choice-project-container-middle-direction-l {
    height: 150px;
    width: 150px;
    background-image: url('/assets/design/left.png'); 
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-left: 15px;
    cursor:pointer;
  }
  .choice-project-container-middle-direction-r {
    height: 150px;
    width: 150px;
    background-image: url('/assets/design/right.png'); 
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-left: 15px; 
  }
 
}
