@import '../../../styles/variable';

.footer {
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.952);
  border-top: 0.1rem solid $COLOR_BORDER_NAVBAR;
  position: fixed;
  bottom: 0;

}
