@import '../../styles/variable';

.navbar-container {
  width: 85%;
  background-color: $COLOR_CONTAINER_NAVBAR;
  color: rgba(255, 255, 255, 0.884);
  height: 5rem;


  .navbar-text {
    margin-right: 2rem;
    font-size: 1.7rem;
  }

  .title {
    font-size: 3rem;
    // font-family: 'finalPolice';
    cursor: pointer;
    // margin-top: 11rem;
  }

  .title:hover, .text-nav:hover{
    /* 00d4ff */
    color: #00d4ff;
  }

  .text-nav {
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
    cursor: pointer;
  }

  .text-nav:hover {
    color: $COLOR_HOVER_TEXT_WHITE;
    cursor: pointer;
  }

  .sign-text-nav {
    font-size: 1.7rem;
  }

}
