@import '../../styles/variable';

.navbar-container {
  width: 85%;
  background-color: $COLOR_CONTAINER_NAVBAR;
  color: white;
  border-bottom: 0.3rem solid $COLOR_BORDER_NAVBAR;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-right: 0.3rem solid $COLOR_BORDER_NAVBAR;
  border-left: 0.3rem solid $COLOR_BORDER_NAVBAR;

  .navbar-text {
    margin-right: 2rem;
    font-size: 2rem;
  }

  .title {
    font-size: 5rem;
    // font-family: 'finalPolice';
    cursor: pointer;
    // margin-top: 11rem;
  }

  .title:hover, .text-nav:hover{
    /* 00d4ff */
    color: #00d4ff;
  }

  .text-nav {
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .text-nav:hover {
    color: $COLOR_HOVER_TEXT_WHITE;
    cursor: pointer;
  }

  .sign-text-nav {
    font-size: 2rem;
  }

}
