@import '../../styles/variable';

.navbar-container {
  width: 85%;
  background-color: $COLOR_CONTAINER_NAVBAR;
  color: rgba(255, 255, 255, 0.884);
  height: 5rem;

  .navbar-text {
    margin-right: 2rem;
    font-size: 1.7rem;
  }

  .title {
    font-size: 3rem;
    // font-family: 'finalPolice';
    cursor: pointer;
    // margin-top: 11rem;
  }

  .title:hover, .text-nav:hover{
    /* 00d4ff */
    color: #00d4ff;
  }

  .text-nav {
    color: rgba(255, 255, 255, 0.884);
    font-weight: bold;
    cursor: pointer;
  }

  .text-nav:hover {
    color: $COLOR_HOVER_TEXT_WHITE;
    cursor: pointer;
  }

  .text-end {
    text-align: end;
  }

  .sign-text-nav {
    font-size: 1.7rem;
  }

  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: padding 0.3s ease;
    padding: 5px;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-size: 100% auto;
    }

  }

  .profile-icon:hover {
    padding: 8px; /* Augmentation du padding au survol */
    width: 35px;
    height: 35px;

    img {
      width: 35px;
      height: 35px;
    }
  }

}
