@import './app/shared/styles/globals.scss';
@import 'ngx-toastr/toastr';

body {
  background-color: #525661 !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: "finalPolice";
  src: url("../src/assets/polices/Dust & Blast.ttf") format("truetype");
 }

@font-face {
  font-family: "montserrat";
  src: url("../src/assets/polices/Montserrat.ttf") format("truetype");
 }

 .montserrat-text {
  font-family: 'montserrat', sans-serif;
 }

 a {
  text-decoration: none !important;
 }

 .ngx-toastr {
  z-index: 10000;
}
