@import '../../../styles/variable';

section{

  color:rgba(243, 241, 241, 0.616);
  text-align: center;
  padding-top: 5px;
 }


.footer {
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  position: fixed;
  bottom: 0;

}

