<div class="w-100 h-100 profil-user-container flex-column">
  <app-navbar class="h-12 w-100"></app-navbar>

  <div class="h-80 w-100 flex-center-center ">
    <section class="w-65 h-80 section-container flex-between-start">

      <div class="w-30 h-80 container-user-infos" style="border: 0.3rem solid #818181;">

      </div>
      <div class="w-65 h-100 container-user-infos" style="border: 0.3rem solid #818181;">

      </div>

    </section>
  </div>
  <app-footer class="flex-center-center"></app-footer>
</div>

