<!-- <div class="row">
  <div class="col-lg-4">
    <div class="card mb-2">
      <div class="card-body text-center h-24-rem flex-center-center flex-column">
        <img src="{{userData?.image}}" alt="avatar"
          class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">{{userData?.name}} {{userData?.surname}}</h5>
        <p class="text-muted mb-1">{{userData?.job}}</p>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-primary">Follow</button>
          <button type="button" class="btn btn-outline-primary ms-1">Message</button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userData?.name}} {{userData?.surname}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Pseudo</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userData?.pseudo}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userData?.mail}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mentor</p>
          </div>
          <div class="col-sm-9">
            <a class="text-muted mb-0">{{userData?.mentor}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <div class="flex-column flex-center-center">
              <h2 class="mb-1 h-5">Liste des projets</h2>
              <div class="flex-center-center">
                <ul *ngIf="userData && userData.projects">
                  <li *ngFor="let project of userData.projects">
                    {{ project.project_name }}
                  </li>
                </ul>
                <p *ngIf="!userData || !userData.projects || userData.projects.length === 0">Aucun projet trouvé.</p>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
