

label {
  font-weight: bold;
}

div .mb-3 {
  padding-left: 1rem;
  margin-right: 1.5rem;
}

.error-msg-mail-use {
  height: 140px;
}

.classHeight {
  height: 570px !important;
}

::ng-deep {
  .toast-success {
    top: 40px;
    width: 400px !important;
  }

}
