<!-- modif-user-profil.component.html -->
<form [formGroup]="userUpdateInfosForm"
      (ngSubmit)="onSubmit()"
      class="h-100 w-100">
  <cdk-virtual-scroll-viewport itemSize="50" class="h-100 w-100" >
    <div class="w-100 flex-wrap flex-center-start">

      <div class="mb-3 w-45">
        <label for="name" class="form-label">{{this.translateFile.input_form.name}}</label>
        <input type="text" class="form-control" id="name" formControlName="name" [value]="(userData$ | async)?.name">
      </div>
      <div class="mb-3 w-45">
        <label for="surname" class="form-label">{{this.translateFile.input_form.surname}}</label>
        <input type="text" class="form-control" id="surname" formControlName="surname" [value]="(userData$ | async)?.surname">
      </div>

      <div class="mb-3 w-45">
        <label for="pseudo" class="form-label">{{this.translateFile.input_form.pseudo}}</label>
        <input type="text" class="form-control" id="pseudo" formControlName="pseudo" [value]="(userData$ | async)?.pseudo">
      </div>
      <div class="mb-3 w-45">
        <label for="job" class="form-label">{{this.translateFile.input_form.job}}</label>
        <input type="text" class="form-control" id="job" formControlName="job" [value]="(userData$ | async)?.job">
      </div>

      <div class="mb-3 w-45 flex-between-start flex-column">
        <label for="mail" class="form-label">{{this.translateFile.input_form.mail}}</label>
        <input type="email" class="form-control" id="mail" formControlName="mail" [value]="(userData$ | async)?.mail">

        <!-- error message Mail -->
        <div class="w-100" *ngIf="messageErreurMail">
          <app-statut-message
            class="flex-center-end error-message pt-10 "
            [status]="'error'"
            [message]="messageErreurMail"
            [height]="'100px'">
          </app-statut-message>
        </div>
      </div>

      <div class="mb-3 w-45 flex-between-start flex-column">
        <label for="confirmMail" class="form-label">{{this.translateFile.input_form.confirmMail}}</label>
        <input type="email" class="form-control" id="confirmMail" formControlName="confirmMail" [value]="(userData$ | async)?.mail">

        <!-- error message Mail -->
        <div class="w-100 " *ngIf="messageErreurConfirmMail">
          <app-statut-message
            class="flex-center-end error-message pt-10"
            [status]="'error'"
            [message]="messageErreurConfirmMail"
            [height]="'100px'">
          </app-statut-message>
        </div>
      </div>

    </div>
    <div class="w-93" *ngIf="messageMailAlreadyIn" style="height: 150px;">
      <app-statut-message
        class=" error-message error-msg-mail-use"
        [status]="'error'"
        [message]="messageMailAlreadyIn">
      </app-statut-message>
    </div>


  <div class="w-100 mt-20 flex-center-center" style="height: 150px;">
    <button type="submit"
            [disabled]="!userUpdateInfosForm.valid
                        || messageErreurConfirmMail
                        || messageErreurMail
                        || messageMailAlreadyIn"
            class="btn btn-primary">
            {{this.translateFile.buttonText.updateModif}}
          </button>
  </div>
  </cdk-virtual-scroll-viewport>
</form>
