<div class="w-100 h-100 profil-user-container flex-column">
  <app-navbar class="h-12 w-100"></app-navbar>

  <div class="h-80 w-100 flex-center-center ">
    <section class="w-65 h-80 section-container flex-between-start">

      <div class="w-30 h-80 container-user-infos flex-column">
        <div class="h-25 w-100 flex-center-center flex-column">
            <p>{{ (  userData$ | async)?.name }} - {{ (  userData$ | async)?.surname }}</p>
            <p>{{ (  userData$ | async)?.job }}</p>
        </div>

        <div class="h-50 w-100 flex-column flex-center-center">
          <img src="" alt="" class="w-50 h-65">
          <button mat-raised-button color="primary" *ngIf="isSameUser">Upload Image</button>
          <div class="w-100 flex-center-center" *ngIf="!isSameUser">
            <button mat-raised-button color="primary" class="w-30 mr-15">Add</button>
            <button mat-raised-button class="w-30">Message</button>
          </div>
        </div>
      </div>
      <div class="w-65 h-100 container-user-infos">
        <div class="h-100 w-100 flex-column flex-start-center">
          <div class="w-100 edit-profil-contain-header flex-between-start flex-column">
            <h2 class="w-100 h-70 pl-25 flex-start-center">EDIT PROFIL</h2>
            <nav aria-label="breadcrumb" class="pl-30 pb-10 w-100 h-30 flex-start-center">
              <ol class="breadcrumb mb-0 flex-start-center w-100">
                <li class="flex-center-center"
                    [ngClass]="{'active': activeIndex === 0}">
                  <a routerLink="/profil-user/modif" (click)="setActiveIndex(0)">User Info</a>
                </li>
                <li class="flex-center-center"
                    [ngClass]="{'active': activeIndex === 1}">
                  <a routerLink="/profil-user/contacts" (click)="setActiveIndex(1)">Mes contacts</a>
                </li>
                <li class="flex-center-center"
                    [ngClass]="{'active': activeIndex === 2}">
                  <a routerLink="/profil-user/projects" (click)="setActiveIndex(2)">Mes Projects</a>
                </li>
              </ol>
            </nav>
          </div>
          <div class="w-100 h-100 flex-center-center edit-profil-contain-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </section>
  </div>
  <app-footer class="flex-center-center"></app-footer>
</div>
