.profil-user-container {

  .section-container {

    $HEADER_EDIT_CONTAINER: 150px;

    .container-user-infos {
      background-color: #3b3d41;
      border-radius: 2%;
      border: 0.3rem solid #818181;

      .edit-profil-contain-header {
        height: $HEADER_EDIT_CONTAINER;
        background-color: #5f636b;
        border-radius: 5px 5px 0px 0px;
        z-index: 1;

        li {
          margin-right: 10px;
          padding-top: 2%;
          width: 20%;
        }

        .active {
          border-bottom: 4px solid #d9f3f7bf;
        }

        h2 {
          color: #FFFFFF;
        }

        a {
          font-size: 1.2rem;
          color: #FFFFFF;
          text-align: center;
          user-select: none;

          &:hover {
            font-size: 1.2rem;
          }

        }
      }

      .edit-profil-contain-body {
        overflow-y: auto;
        background-color: #a3a6ab;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

        ::ng-deep {

            .cdk-virtual-scroll-content-wrapper {
              height: 90%;
              padding: 20px;
            }

            .cdk-virtual-scroll-spacer {
              padding: 20px;
              margin: 20px;
            }

            &::-webkit-scrollbar {
              width: 12px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #5f636b;
              border-radius: 6px;
            }

            &::-webkit-scrollbar-track {
              background-color: #a3a6ab;
              border-radius: 6px;
            }


          }

      }

      button {
        margin-top: 20px;
      }

      img {
        background-position: center;
        background-size: cover;
        border-radius: 77px;
        border: 2px solid white;
      }

      p {
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin: 0;
      }
    }
  }
}
