@import './app/shared/styles/globals.scss';

body {
  background-image:url("assets/design/5245975.jpg");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: "finalPolice";
  src: url("../src/assets/polices/Dust & Blast.ttf") format("truetype");
 }

@font-face {
  font-family: "montserrat";
  src: url("../src/assets/polices/Montserrat.ttf") format("truetype");
 }

 .montserrat-text {
  font-family: 'montserrat', sans-serif;
 }

 a {
  text-decoration: none !important;
 }
